# Auto detect text files and perform LF normalization
* text=auto

# CodeAlpha UI/UX Design Internship Task

## Project Title
food delivery App Design

## Description
This project was designed in Figma as part of the CodeAlpha UI/UX Design Internship. The design includes user-friendly screens and a clean interface focused on enhancing the user experience.

## Figma Design Link
https://www.figma.com/design/WbxM9XdsnSihoraN8zHRQj/WRIEFRAME--TASK-2?m=auto&t=DFatYHnG864TrQd0-6

https://www.figma.com/design/WbxM9XdsnSihoraN8zHRQj/WRIEFRAME--TASK-2?node-id=0-1&t=zw9ojcwsmD6mtYnF-1

https://docs.google.com/document/d/1VjKQ39H7MnSizSuLLARkKxUe_cVCYi1PwcWqBt_pS5c/edit?usp=drivesdk


## Author
Bisht Sanjana Krishna